
<div *ngIf="claim">
    <h2><span>Claim</span> {{claim.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Injury Involved</span></dt>
        <dd>
            <span>{{claim.injuryInvolved}}</span>
        </dd>
        <dt><span>Accident Date</span></dt>
        <dd>
            <span>{{claim.accidentDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Accident Time</span></dt>
        <dd>
            <span>{{claim.accidentTime | date:'medium'}}</span>
        </dd>
        <dt><span>Accident City</span></dt>
        <dd>
            <span>{{claim.accidentCity}}</span>
        </dd>
        <dt><span>Accident State</span></dt>
        <dd>
            <span>{{claim.accidentState}}</span>
        </dd>
        <dt><span>Passengers In Cars</span></dt>
        <dd>
            <span>{{claim.passengersInCars}}</span>
        </dd>
        <dt><span>Damage Location</span></dt>
        <dd>
            <span>{{claim.damageLocation}}</span>
        </dd>
        <dt><span>Driver</span></dt>
        <dd>
            <div *ngIf="claim.driver">
                <a [routerLink]="['/driver', claim.driver?.id]">{{claim.driver?.id}}</a>
            </div>
        </dd>
        <dt><span>Vehicle</span></dt>
        <dd>
            <div *ngIf="claim.vehicle">
                <a [routerLink]="['/vehicle', claim.vehicle?.id]">{{claim.vehicle?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'claim/'+ claim.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
