
<div *ngIf="insuranceDetails">
    <h2><span>Plan </span> {{insuranceDetails.level}} <span>details: </span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    
    <div class="container-fluid bg-3 text-center">    
        <div class="row">
            <div class="col-sm-4">
                <p>Summary text goes here</p>
                <img src="../../../content/images/driver.jpg" class="rounded-circle" style="width:75%" alt="Image">
            </div>
            <div class="col-sm-4"> 
                <img src="../../../content/images/carBubble.jpg" class="rounded-circle" style="width:75%" alt="Image">
                <button data-toggle="collapse" data-target="#demo">Price for you</button>
                <div id="demo" class="collapse">1 Billion dollars</div>
            </div>
            <div class="col-sm-4"> 
                <h4>Plan Includes:</h4>
                <p *ngIf = "insuranceDetails.injuryLiability"><span class= "fa fa-check-square"></span>&nbsp;<span> Injury Liability</span></p>
                <p *ngIf = "insuranceDetails.propertyLiability"><span class= "fa fa-check-square"></span>&nbsp;<span> Property Liability</span></p>
                <p *ngIf = "insuranceDetails.uninsuredMotoristInjury"><span class= "fa fa-check-square"></span>&nbsp;<span> Uninsured Motorist Injury</span></p>
                <p *ngIf = "insuranceDetails.uninsuredMotoristProperty"><span class= "fa fa-check-square"></span>&nbsp;<span> Uninsured Motorist Property</span></p>
                <button type="button" class="btn btn-primary btn-block">
                   <span class="fa fa-plus"></span>&nbsp;<span> Add this plan to my account
                </button> 
            </div>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
            [routerLink]="['/', { outlets: { popup: 'insurance-details/'+ insuranceDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
