<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="driver">
            <h2><span>Driver</span> {{driver.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Login</span></dt>
                <dd>
                    <span>{{driver.userLogin}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{driver.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{driver.lastName}}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{driver.birthDate}}</span>
                </dd>
                <dt><span>License Date</span></dt>
                <dd>
                    <span>{{driver.licenseDate}}</span>
                </dd>
                <dt><span>Past Accident</span></dt>
                <dd>
                    <span>{{driver.pastAccident}}</span>
                </dd>
                <dt><span>Zip Code</span></dt>
                <dd>
                    <span>{{driver.zipCode}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/driver', driver.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
