<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-claim-heading">Create or edit a Claim</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!claim.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="claim.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_injuryInvolved">Injury Involved</label>
                    <input type="checkbox" class="form-control" name="injuryInvolved" id="field_injuryInvolved"
                        [(ngModel)]="claim.injuryInvolved" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accidentDate">Accident Date</label>
                    <div class="input-group">
                        <input id="field_accidentDate" type="text" class="form-control" name="accidentDate" ngbDatepicker  #accidentDateDp="ngbDatepicker" [(ngModel)]="claim.accidentDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="accidentDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accidentTime">Accident Time</label>
                    <div class="d-flex">
                        <input id="field_accidentTime" type="datetime-local" class="form-control" name="accidentTime" [(ngModel)]="accidentTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accidentCity">Accident City</label>
                    <input type="text" class="form-control" name="accidentCity" id="field_accidentCity"
                        [(ngModel)]="claim.accidentCity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accidentState">Accident State</label>
                    <input type="text" class="form-control" name="accidentState" id="field_accidentState"
                        [(ngModel)]="claim.accidentState" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_passengersInCars">Passengers In Cars</label>
                    <input type="checkbox" class="form-control" name="passengersInCars" id="field_passengersInCars"
                        [(ngModel)]="claim.passengersInCars" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_damageDescription">Damage Description</label>
                    <input type="text" class="form-control" name="damageDescription" id="field_damageDescription"
                        [(ngModel)]="claim.damageDescription" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_vehicle">Vehicle</label>
                    <select class="form-control" id="field_vehicle" name="vehicle" [(ngModel)]="claim.vehicle" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehicleOption.id === claim.vehicle?.id ? claim.vehicle : vehicleOption" *ngFor="let vehicleOption of vehicles; trackBy: trackVehicleById">{{vehicleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
