<div>
    <h2>
        <span>Vehicles</span>
        <button class="btn btn-primary float-right jh-create-entity create-vehicle" [routerLink]="['/', { outlets: { popup: ['vehicle-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Vehicle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vehicles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Make</span></th>
            <th><span>Model</span></th>
            <th><span>Year</span></th>
            <th><span>Mileage</span></th>
            <th><span>Vin</span></th>
            <th><span>Has Policy</span></th>
            <th><span>Policy Number</span></th>
            <th><span>Insurancedetails</span></th>
            <th><span>Driver</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                <td><a [routerLink]="['../vehicle', vehicle.id ]">{{vehicle.id}}</a></td>
                <td>{{vehicle.make}}</td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.year}}</td>
                <td>{{vehicle.mileage}}</td>
                <td>{{vehicle.vin}}</td>
                <td>{{vehicle.hasPolicy}}</td>
                <td>{{vehicle.policyNumber}}</td>
                <td>
                    <div *ngIf="vehicle.insurancedetails">
                        <a [routerLink]="['../insurance-details', vehicle.insurancedetails?.id ]" >{{vehicle.insurancedetails?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vehicle.driver">
                        <a [routerLink]="['../driver', vehicle.driver?.id ]" >{{vehicle.driver?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vehicle', vehicle.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
